.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#subtitle {
  height: 20px;
  color: #767676;
}